<div class="navbar navbar-expand navbar-light">
  <a class="navbar-brand caria-logo-container" routerLink="">
    <img src="assets/caria-logo-black.png" class="caria-logo" alt="CarIA logo"/>
  </a>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of items">
        <a class="nav-link" [routerLink]="item.link" routerLinkActive="active">{{ item.label }}</a>
      </li>
    </ul>
    <caria-action-button class="caria-dropdown"></caria-action-button>
  </div>
</div>
