:host {
  width: 100%;
}

.cariaLogo{
  width: 100%;
  margin: 0 1% 0 5%;
}

.cariaLogoContainer{
  width: 6%;
  margin-right: 3%;
}

li{
  margin-right: 15%;
  font-size: 120%;
}

.darkerwhite{
  background-color: #faf7fc;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.06);
  height: 7%;
}

.caria-dropdown{
  margin-right: 3%;
}
