<div class="car-container">
  <caria-ai-output class="car-output"></caria-ai-output>
</div>
<div class="explore-card-container">
  <div class="explore-card scroll-container">
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [infiniteScrollContainer]="selector"
      [fromRoot]="true"
      (scrolled)="generateNewOutput()"
    >
      <div *ngIf="(cars$ | async) as cars" class="explore-output">
        <div class="row explore-row">
          <div class="item col-lg-4 col-md-6 col-sm-12" *ngFor="let car of cars; index as i"  >
            <img [src]="car.url" alt="AI-Output image" (click)="setActive(i)" class="output-image"
                 [ngClass]="{'activeCar': i == activeCar}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
