<div class="row">
  <!--AI-Output-->
  <div class="col">
    <caria-ai-output></caria-ai-output>
  </div>

  <!--Canvas-->
  <div class="col">
    <caria-canvas></caria-canvas>
  </div>
</div>

<div class="row">
  <div class="canvas-tools">
    <caria-canvas-tools (clearCanvasRequest)="clearCanvasActually($event)"
                      (changeCanvasColorRequest)="changeCanvasColorActually($event)"
                      (changeSizeRequest)="changeCanvasSizeActually($event)"
                      (updateCanvasRequest)="updateCanvasActually($event)"
                      (undoLastCanvasStepRequest)="undoLastCanvasStepActually($event)"></caria-canvas-tools>
  </div>
</div>
