.column{
  float:left;
  width: 50%;
  padding: 3% 0 1% 1%;
}

.canvas-tools{
  margin: 3% 0 0 2%;
  width: 96%;
  background-color: #C0C0C0;
  height: 45%;
}

.canvas-tool-row{
  margin-right: 0;
}

.top-row{
  margin: 3% 0 0 0;
}
