.colors{
  float: left;
}

.color{
  margin: 10% 1% 10% 1%;
}

.color_picker{
  width: 20%;
  float: left;
}

.brush_slider{
  float: left;
  text-align: center;
}

.reset_button{
  float: left;
}

.update_button{
  float: left;
}
