:host {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.slider{
  flex: 1;
  order: 1;
  z-index: 3;
  display: flex;
  flex-direction: column;

  p{
    flex: 2;
    order: 1;
    margin: 0;
  }
}

.color-picker{
  flex: 2;
  order: 2;
}

.canvas{
  flex: 6;
  order: 3;
}

.canvas-manipulation{
  flex: 3;
  order: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;

  .cur-row{
    z-index: 2;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;

    .cur-col{
      flex: 1;
      z-index: 2;

      .cur-button{
        padding: 0 15px 0 15px;
        font-size: 26px;
        outline:none;
        border: none;
        color: black;
        background: transparent;

        .is-disabled{
          opacity: 10%;
        }
      }

      .cur-icon{
        width: 32px;
        height: auto;
      }
    }
  }

  .canvas-tools{
    height: 100%;
    width: 60%;

    .tool-selector{
      width: 100%;
      height: 100%;

      .tool-row{
        display: flex;
        flex-direction: row;
        z-index: 2;
        height: 50%;

        .tool-col{
          z-index: 2;
          flex: 1;

          .tool-button{
            background: #cbd2e6;
            border: transparent;
            outline: none;
            color: black;
            width: 100%;
            height: 100%;

            .tool-icon{
              width: 48px;
              height: auto;
              padding: 20px 0;
            }
          }

          .is-active{
            background: #ACB9D7;
          }

          .pencil-tool{
            border-bottom: 1px solid #465c69;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
          }

          .eraser-tool{
            border-right: 1px solid #465c69;
            border-bottom-left-radius: 12px;
          }

          .picker-tool{
            border-bottom-right-radius: 12px;
          }

          .tool{
            box-shadow: 0 3px 6.1px 0.9px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}


