<div class="row">
  <div class="col color_picker">
    <span [cpToggle]="true"
          [cpDialogDisplay]="'inline'"
          [cpCancelButton]="true"
          [(colorPicker)]="activeColor"
          (colorPickerChange)="updateColor($event)"></span>
  </div>
  <div class="col colors" *ngIf="(arrayColors$ | async) as colors">
    <div class="row" *ngFor="let arrayColor of colors; index as i">
      <p class="colorDesc">Color {{i+1}}:</p>
      <div [style.background]="arrayColor" class="color"
           (click)="changeActiveColorIndex(i)"></div>
    </div>
  </div>
  <div class="col brush_slider">
    <p class="brush_size">Brush size: {{(brushSize$ | async)}}</p>
    <mat-slider class="slider-item slider-height" [min]="0" [max]="1" step="0.01" [value]="convertFromActualSize(initialBrushValue)" (input)="updateSize($event.value)"
                vertical>
    </mat-slider>
  </div>
  <div *ngVar="(activeTool$ | async) as activeTool" class="container row">
    <div class="col reset_button button-container">
      <button (click)="clearCanvas()">Clear</button>
    </div>
    <div class="col undo_button button-container" *ngVar="(canUndo$ | async) as canUndo">
      <button (click)="undoLastCanvasStep()" [disabled]="!canUndo">Undo</button>
    </div>
    <div class="col redo_button button-container" *ngVar="(canRedo$ | async) as canRedo">
      <button (click)="redoLastCanvasStep()" [disabled]="!canRedo">Redo</button>
    </div>
    <div class="col pencil button-container">
      <button (click)="updateCurrentTool(Tool.PENCIL)" *ngVar="activeTool === Tool.PENCIL as isActive" [ngClass]="{'isActive': isActive}" [disabled]="isActive">Pencil</button>
    </div>
    <div class="col eraser button-container">
      <button (click)="updateCurrentTool(Tool.ERASER)" *ngVar="activeTool === Tool.ERASER as isActive" [ngClass]="{'isActive': isActive}" [disabled]="isActive">Eraser</button>
    </div>
    <div class="col picker button-container">
      <button (click)="updateCurrentTool(Tool.PICKER)" *ngVar="activeTool === Tool.PICKER as isActive" [ngClass]="{'isActive': isActive}" [disabled]="isActive">Picker</button>
    </div>
  </div>
</div>
