.colors{
  float: left;
  width: 50%;
  padding-right: 0;
  padding-left: 3%;
}

.color{
  float: left;
  margin: 4% 5% 4% 5%;
  padding: 12%;
  width: 20%;
}

.color_picker{
  width: 20%;
  float: left;
}

.brush_slider{
  float: left;
  text-align: center;
  margin: auto;
  padding-left: 0;
}

mat-slider{
  min-height: 15rem;
}

.allColors{
  width: 50%;
  height: 10%;
}

.slider-height{
  height: 100%;
}

.reset_button{
  float: left;
}

.update_button{
  float: left;
}

.eraser{
  float: left;
}

.picker{
  float: left;
}

.pencil{
  float: left;
}

button{
  width: 50%;
  height: 15%;
  text-align: center;
  transition: all 0.2s;
  background: gray;
  color: white;
  display: inline-block;
  border-radius: 2em;
  box-sizing: border-box;
  padding: 1% 0 1% 0;
  outline: none;
}

button:hover:active{
  background-color: darkgray;
}

.colorDesc{
  float: left;
  margin: 12% 1% 0 0;
}

.color_picker{
  height: 100%;
}

.isActive{
  background-color: darkgray;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
